@import 'variables', 'mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.form-container {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: auto;
  width: 70%;

  @include responsive($large) {
    width: 90%;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include responsive($small) {
    text-align: center;
  }

  h1 {
    @include interFont($accent-color, 30px, 800);
    @include responsive($small) {
      font-size: 25px;
    }
  }

  h5 {
    @include interFont($accent-color, 20px, 400);
    @include responsive($small) {
      font-size: 15px;
    }
  }

  p {
    @include interFont($accent-color, 15px, 400);
    @include responsive($small) {
      font-size: 14px;
    }
  }
}

.warning {
  display: flex;
  border-radius: 10px;
  margin-top: 5px;
  padding-inline: 15px;
  padding-block: 12px;
  background-color: rgb(255, 216, 216);
  @include interFont(rgb(255, 81, 81), 13px, 500);
  animation-name: fadeInDown;
  animation-duration: 0.5s;

  .icon {
    width: 7%;

    i {
      font-size: 13px;
      padding-top: 1px;
      animation-name: fadeInDown;
      animation-duration: 0.5s;
    }
  }

  div {
    width: 93%;
    p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 100%;
    font-size: 13px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @mixin columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .row {
    display: flex;
    gap: 20px;

    @include responsive($medium) {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    #col-1 {
      @include columns();
      width: 30%;

      @include responsive($medium) {
        width: 50%;
      }

      @include responsive($small) {
        width: 100%;
      }
    }

    #col-2 {
      @include columns();
      width: 30%;

      @include responsive($medium) {
        width: 45%;
      }

      @include responsive($small) {
        width: 100%;
      }
    }

    #col-3 {
      @include columns();
      width: 40%;

      @include responsive($medium) {
        width: 100%;
      }
    }
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: 0;
      cursor: pointer;
      @include interFont(#106fff, 15px, 500);
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: #d5eaff;
      @include transition;

      &:hover {
        background-color: #106fff;
        color: #d5eaff;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  label {
    @include interFont($accent-color, 13px, 500);
    padding-inline: 13px;
    margin-bottom: 5px;
  }

  .input {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      outline: none;
      padding: 11px 15px 11px 15px;
      border-radius: 10px;
      border: 1px solid $background-darker;
      @include interFont($accent-color, 14px, 500);
      @include transition;
      box-shadow: rgba(0, 0, 0, 0.01) 0px 4px 6px -1px, rgba(0, 0, 0, 0.01) 0px 2px 4px -1px;

      &[type='date'] {
        padding: 10px 15px 10px 15px;
      }

      &:focus {
        border: 1px solid #83c1ff;
      }
    }

    textarea {
      height: 183px;
      resize: none;
    }
  }

  .select {
    display: flex;
    flex-direction: column;

    select {
      outline: none;
      padding: 10px 15px 10px 15px;
      border-radius: 10px;
      border: 1px solid $background-darker;
      @include interFont($accent-color, 14px, 500);
      @include transition;
      box-shadow: rgba(0, 0, 0, 0.01) 0px 4px 6px -1px, rgba(0, 0, 0, 0.01) 0px 2px 4px -1px;

      &:focus {
        border: 1px solid #83c1ff;
      }
    }
  }

  .radio {
    display: flex;
    flex-direction: column;

    .radio-group {
      display: flex;
      padding-inline: 15px;
      height: 40px;
      gap: 20px;

      div {
        display: flex;
        align-items: center;
        gap: 5px;

        label {
          margin: 0;
          padding: 0;
          @include interFont($accent-color, 14px, 500);
        }
      }
    }
  }

  .checkbox {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      gap: 5px;

      label {
        margin: 0;
        padding: 0;
        @include interFont($accent-color, 14px, 500);
      }
    }
  }
}
