<div class="container">
  <div class="form-container">
    <header>
      <h1>We can't wait to meet you</h1>
      <h5>Please fill the details below so that we can get in contact with you</h5>
      <p>Fields with <b>*</b> are required</p>
    </header>
    <form [formGroup]="form" action="/off" autocomplete="off" (ngSubmit)="submit()">
      <div class="row">
        <div id="col-1">
          <div class="form-group" formGroupName="information">
            <div class="input">
              <label for="name">Name*</label>
              <input
                formControlName="name"
                type="text"
                id="name"
                maxlength="15"
                [style.borderColor]="
                  information.get('name')!.invalid && information.get('name')!.touched ? 'red' : ''
                "
              />
              <div
                *ngIf="information.get('name')!.touched && information.get('name')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="information.get('name')!.errors?.['required']">Name is required.</p>
                  <p *ngIf="information.get('name')!.errors?.['minlength']">
                    Name must have 4 characters at least.
                  </p>
                  <p *ngIf="information.get('name')!.errors?.['pattern']">
                    No numbers, single letters or spaces after single words are allowed. You must
                    have one capital letter per word.
                  </p>
                </div>
              </div>
            </div>
            <div class="input">
              <label for="lastName">Last name*</label>
              <input
                formControlName="lastName"
                type="text"
                id="lastName"
                maxlength="15"
                [style.borderColor]="
                  information.get('lastName')!.invalid && information.get('lastName')!.touched
                    ? 'red'
                    : ''
                "
              />
              <div
                *ngIf="information.get('lastName')!.touched && information.get('lastName')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="information.get('lastName')!.errors?.['required']">
                    Last name is required.
                  </p>
                  <p *ngIf="information.get('lastName')!.errors?.['minlength']">
                    Last name must have 4 characters at least.
                  </p>
                  <p *ngIf="information.get('lastName')!.errors?.['pattern']">
                    No numbers, single letters or spaces after single words are allowed. You must
                    have one capital letter per word.
                  </p>
                </div>
              </div>
            </div>
            <div class="input">
              <label for="birthDate">Birth date*</label>
              <input
                (change)="validateDate()"
                formControlName="birthDate"
                type="date"
                id="birthDate"
                [max]="todayDate"
                [style.borderColor]="
                  information.get('birthDate')!.invalid && information.get('birthDate')!.touched
                    ? 'red'
                    : ''
                "
              />
              <div
                *ngIf="
                  information.get('birthDate')!.touched && information.get('birthDate')!.invalid
                "
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="information.get('birthDate')!.errors?.['required']">
                    Birth date is required.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" formGroupName="address">
            <div class="select">
              <label for="country">Country*</label>
              <select
                #country
                (change)="setSelectedCountry(country.value)"
                formControlName="country"
                name="country"
                id="country"
                [style.borderColor]="
                  address.get('country')!.invalid && address.get('country')!.touched ? 'red' : ''
                "
              >
                <option *ngFor="let country of data.countries; let i = index" [value]="i">
                  {{ country.country }}
                </option>
              </select>
              <div
                *ngIf="address.get('country')!.touched && address.get('country')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="address.get('country')!.errors?.['required']">Country is required.</p>
                </div>
              </div>
            </div>
            <div *ngIf="selectedCountry" class="select">
              <label for="state">State*</label>
              <select
                formControlName="state"
                name="state"
                id="state"
                [style.borderColor]="
                  address.get('state')!.invalid && address.get('state')!.touched ? 'red' : ''
                "
              >
                <option
                  *ngFor="let state of data.countries[selectedCountry!].states; let i = index"
                  [value]="i"
                >
                  {{ state }}
                </option>
              </select>
              <div
                *ngIf="address.get('state')!.touched && address.get('state')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="address.get('state')!.errors?.['required']">State is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="col-2">
          <div class="form-group" formGroupName="contact">
            <div class="input">
              <label for="email">Email*</label>
              <input
                formControlName="email"
                type="email"
                id="email"
                maxlength="50"
                [style.borderColor]="
                  contact.get('email')!.invalid && contact.get('email')!.touched ? 'red' : ''
                "
              />
              <div
                *ngIf="contact.get('email')!.touched && contact.get('email')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="contact.get('email')!.errors?.['required']">Email is required.</p>
                  <p *ngIf="contact.get('email')!.errors?.['email']">Email is invalid.</p>
                </div>
              </div>
            </div>
            <div class="input">
              <label for="telephone">Telephone*</label>
              <input
                (keypress)="validateNumbers($event)"
                (paste)="$event.preventDefault()"
                formControlName="telephone"
                type="tel"
                id="telephone"
                maxlength="8"
                [style.borderColor]="
                  contact.get('telephone')!.invalid && contact.get('telephone')!.touched
                    ? 'red'
                    : ''
                "
              />
              <div
                *ngIf="contact.get('telephone')!.touched && contact.get('telephone')!.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="contact.get('telephone')!.errors?.['required']">
                    Telephone is required.
                  </p>
                  <p *ngIf="contact.get('telephone')!.errors?.['minlength']">
                    Telephone must have 8 digits.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" formGroupName="password">
            <div class="input">
              <label for="password">Password*</label>
              <input
                formControlName="password"
                type="password"
                id="password"
                maxlength="16"
                [style.borderColor]="
                  passwordGroup.get('password')!.invalid && passwordGroup.get('password')!.touched
                    ? 'red'
                    : ''
                "
              />
              <div
                *ngIf="
                  passwordGroup.get('password')!.touched && passwordGroup.get('password')!.invalid
                "
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="passwordGroup.get('password')!.errors?.['required']">
                    Password is required.
                  </p>
                  <p *ngIf="passwordGroup.get('password')!.errors?.['pattern']">
                    Invalid password, your password must contain at least 8 characters, 1 uppercase
                    letter, 1 lowercase letter and 1 number, special characters are allowed
                  </p>
                </div>
              </div>
            </div>
            <div class="input">
              <label for="confirmPassword">Confirm password*</label>
              <input
                formControlName="confirmPassword"
                type="password"
                id="confirmPassword"
                maxlength="16"
                [style.borderColor]="
                  passwordGroup.get('confirmPassword')!.invalid &&
                  passwordGroup.get('confirmPassword')!.touched
                    ? 'red'
                    : ''
                "
              />
              <div
                *ngIf="passwordGroup.get('confirmPassword')!.touched && passwordGroup.invalid"
                class="warning"
              >
                <div class="icon">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div>
                  <p *ngIf="passwordGroup.get('confirmPassword')!.errors?.['required']">
                    You have to confirm your password.
                  </p>
                  <p *ngIf="passwordGroup.invalid">Passwords doesn't match.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="radio">
            <label for="gender">Gender*</label>
            <div class="radio-group">
              <div>
                <input formControlName="gender" type="radio" name="gender" id="male" value="male" />
                <label for="male">Male</label>
              </div>
              <div>
                <input
                  formControlName="gender"
                  type="radio"
                  name="gender"
                  id="female"
                  value="female"
                />
                <label for="female">Female</label>
              </div>
            </div>
            <div *ngIf="form.get('gender')!.touched && form.get('gender')!.invalid" class="warning">
              <div class="icon">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <div>
                <p *ngIf="form.get('gender')!.errors?.['required']">Gender is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div id="col-3">
          <div class="input">
            <label for="site">Personal site</label>
            <input
              formControlName="site"
              type="url"
              id="site"
              maxlength="256"
              [style.borderColor]="
                form.get('site')!.invalid && form.get('site')!.touched ? 'red' : ''
              "
            />
            <div *ngIf="form.get('site')!.touched && form.get('site')!.invalid" class="warning">
              <div class="icon">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <div>
                <p *ngIf="form.get('site')!.errors?.['pattern']">Invalid URL.</p>
              </div>
            </div>
          </div>
          <div class="input">
            <label for="aboutMe">About me</label>
            <textarea
              formControlName="aboutMe"
              name="aboutMe"
              id="aboutMe"
              maxlength="500"
              [style.borderColor]="
                form.get('aboutMe')!.invalid && form.get('aboutMe')!.touched ? 'red' : ''
              "
            ></textarea>
            <div
              *ngIf="form.get('aboutMe')!.touched && form.get('aboutMe')!.invalid"
              class="warning"
            >
              <div class="icon">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <div>
                <p *ngIf="form.get('aboutMe')!.errors?.['pattern']">Invalid characters detected.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer">
        <div class="checkbox">
          <div>
            <input formControlName="agree" type="checkbox" id="agree" />
            <label for="agree">Agree*</label>
          </div>
          <div *ngIf="form.get('agree')!.touched && !form.get('agree')!.value" class="warning">
            <div class="icon">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div>
              <p *ngIf="form.get('agree')!.errors?.['required'] || !form.get('agree')!.value">
                You must agree with the terms.
              </p>
            </div>
          </div>
        </div>
        <button [disabled]="form.invalid || !form.get('agree')!.value" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
